body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7dfd8;
    color: #333;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 50px 20px;
}
.contact {
    display: flex;
    justify-content:space-between;
    padding: 50px 20px;
    
}
h1 {
    font-size: 60px;
    color: #000;
    padding-left: 70px;
}
h3{
    font-size:170%;
    color: #000;
    text-align: left;
    padding-left: 70px;
}
.icon {
    width: 150px;
    cursor: pointer;
    align-items: flex-start;
    margin-top: 40px;
    margin-right: 150px;
    
}
.star {
    max-width: 1000%;
    margin-top: 200px;
    padding: 10px;

    
}
.dresses {

    max-width: 100%;
    max-height: auto;
    padding-right: 50px;

    
}
button {
    background-color: #000;
    color: #e7dfd8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;

}
button:hover {
    background-color: #785a3c;
    color:#000
}
@media (max-width: 768px) {
    .contact {
        flex-direction: column; /* Stacks elements vertically */
        align-items: center;
    }
}